
    {{>header}}
    <p>
      {{msg}}
      <a href="/logout/">Logout</a>
    </p>

    <div id="post-maker">
      <textarea id="post-title" rows="2" cols="40"></textarea>
      <textarea id="post-body" rows="8" cols="40"></textarea>
      <button type="button" id="send-post">send</button>
    </div>
    <div id="content-wrapper">
        {{#each posts}}
      <div class="post">

        <h2>{{{title}}}</h2>
        <p>{{{content_body}}}</p>
        <p>{{{date_created}}}</p>

      </div>
      {{/each}}
    </div>
