<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <h1>Log in with your user</h1>
    <div id="login-container">
      Username:
      <input type="text" id="username" placeholder="">
      <br>
      <br>
      Password:
      <input type="password" id="password" placeholder="">
      <br>
      <br>
      <button id="log-in">Log in</button>
      <button id="register">Register</button>
    </div>
    <script src="index.js"></script>
    <script src="makeXhrRequest.js"></script>

  </body>
</html>
